﻿.list-item, .pac-item{
    list-style-type: none;
    cursor: pointer;
    padding: 12px;
    border-top: 1px solid #e6e6e6;
}
:host /deep/ .pac-item {
    list-style-type: none;
    cursor: pointer;
    padding: 9px;
}
.input-lg {
    height: 44px;
    padding: 5px 10px;
    font-size: 16px;
}
.form-control:focus {
    border-color: #03a9f4 !important;
}
.list-item:hover, .pac-item:hover {
    background-color: #f3f7f9;
}
.complete-selected {
    background-color: #f3f7f9;
}

/* .toolbar{
    width: 700px !important;
} */
.suggestions {
    position: absolute;
    box-shadow: 0 3px 12px rgba(0,0,0,.05);    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);border: 1px solid #e4eaec;z-index:100; background: white; width:100%;
        width: 700px !important;
    }
@media (max-width: 920px) {
    .suggestions {
        position: fixed;
        left: 0 !important;
        width: 100% !important;
    }
}


.close-icon {
	/*border: 1px solid transparent; 
    background-color: transparent; */
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 20px;
}
/*.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}*/
.searching-item{
    width: 100%;
    text-align: center;
    padding: 12px;
}