﻿<!--<div >
    <input class="form-control input-lg" type="text" placeholder="Countries">
</div>-->

<div >
    <div >
        <input *ngIf="!isMapAutocomplete" id="input" type="text" class="form-control input-lg" [(ngModel)]=query autocomplete="off" (keyup)=search($event)  (blur)=handleBlur()
               [placeholder]="placeholder" style="padding-right: 30px;">
        <input *ngIf="isMapAutocomplete" class="form-control input-lg" type="text" [(ngModel)]=query [placeholder]="placeholder" id="autocompleteInput" style="padding-right: 30px;">
        <i *ngIf="query" class="icon-close close-icon" (click)="onResetClick()"></i>
    </div>
    <div class="suggestions" *ngIf="filteredList.length > 0 || searching">
        <ul style="padding: 0; margin: 0;overflow-y: auto;max-height: 250px;" id="container" #cont>
            <li *ngIf="searching" class="searching-item">
                <idid-spinner [size]="'12px'" [color]="'black'">

                </idid-spinner>
                <!--yükleniyor.-->
            </li>
            <li *ngFor="let item of filteredList; let idx = index" [id]="idx"  class="list-item" (mousedown)="select(item)" [class.complete-selected]="idx == selectedIdx">
                <span >{{getLocalizedValue(item, lang, extension)}}</span>
            </li>
        </ul>
    </div>
</div>