.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput {
    border: 1px solid #e4e7ea;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 7px 12px;
}

.label {
    display: inline-block;
    padding: 0;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label {
    letter-spacing: .05em;
    border-radius: 60px;
    padding: 4px 8px 4px;
    font-weight: 500;
}
.label-info {
    background-color: #03a9f3;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.suggestions {
    position: absolute;
    box-shadow: 0 3px 12px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);
    border: 1px solid #e4eaec;
    z-index:100;
    background: white;
    width:100%;
    }

.list-item, .pac-item{
    list-style-type: none;
    cursor: pointer;
    padding: 12px;
    border-top: 1px solid #e6e6e6;
}
.list-item:hover, .pac-item:hover {
    background-color: #f3f7f9;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.searching-item{
    width: 100%;
    text-align: center;
    padding: 12px;
}
.complete-selected {
    background-color: #f3f7f9;
}