﻿.navbar-header {
    padding-left: 256px;
    padding-right: 256px;
}

.navbar-form {
    padding-left: 0px;
}

.navbar-form-input {
    width: 190px;
}

@media (max-width: 1650px) {
    /*.navbar-form-input {
        width: 160px;
    }*/
}

@media (max-width: 880px) {
    /*.navbar-form-input {
        width: 160px;
    }*/
}

@media (max-width: 830px) {
    /*.navbar-form-input {
        width: 128px;
    }*/
}

.btn.btn-facebook{
    width: 214px;
}
.loggedinSmall{
        display: none;
    }
.fbTextSmall{
    display: none;
}
@media (max-width: 700px) {
    /*.navbar-form-input {
        display: none;
    }*/

    /*.navbar-form-button {
        display: none;
    }*/
    .btn.btn-facebook{
        width: 100px;
    }
    .fbText {
        display: none;
    }
    .fbTextSmall{
        display: block;
    }
    .loggedinSmall{
        display: block;
    }
    .loggedinWide{
        display: none;
    }
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (max-width: 580px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .navbar-form-input {
        width: 108px;
    }
}
@media (max-width: 432px) {
    .btn.btn-facebook{
        width: 32px;
    }
    .fbTextSmall{
        display: none;
    }
}
