﻿<div class="sk-three-bounce">
    <div class="sk-child sk-bounce1" [style.background-color]="color" [style.width]="size" [style.height]="size"></div>
    <div class="sk-child sk-bounce2" [style.background-color]="color" [style.width]="size" [style.height]="size"></div>
    <div class="sk-child sk-bounce3" [style.background-color]="color" [style.width]="size" [style.height]="size"></div>
</div>