﻿<div id="map_canvas" style="height: 100%">
    <agm-map id="AgmMap" #AgmMap [latitude]="lat" [longitude]="lng" [(zoom)]="zoom" (zoomChange)="onZoomChange($event)" [clickableIcons]="false" [streetViewControl]="false" style="height: 100%">
        <!-- <agm-marker 
            [latitude]="markerNewPosition ? markerNewPosition.lat : lat"
            [longitude]="markerNewPosition ? markerNewPosition.lng : lng"
            [iconUrl]="'/assets/icons/png/placeholder-new-128.png'"  >
        </agm-marker> -->
        <app-map-content (onDragEnd)="dragEnded()" ></app-map-content>
    </agm-map>
    <div class="centerMarker" (mousedown)="newMarkerClicked()" [ngClass]="{'movingMarker': mouseDown}" >
        
    </div>
</div>