﻿agm-map {
    height: 300px;
}
.centerMarker {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url('/assets/icons/png/placeholder-new-64.png');
}

.movingMarker {
    top: calc(50% - 74px);
    transition: top .1s linear;
}