<div class="btn-group bootstrap-select m-b-20 m-r-10 dropup show" [ngClass]="{'open': expanded}" (focusout)="blur()" style="position: relative">
    <button type="button" class="btn dropdown-toggle btn-info btn-outline" data-toggle="dropdown" role="button" title="Sugar, Spice and all things nice" aria-expanded="true"
        style="width: 100%;     overflow: hidden;    padding-right: 16px;"
        (click)="expanded = !expanded"  >
        <span class="filter-option pull-left" style="overflow: hidden; width: 100%; text-align: left">
            {{getItemValue(selectedItem)}}
        </span>&nbsp;
        <span class="bs-caret" style="position: absolute; right: 4px;">
            <span class="caret">
            </span>
        </span>
    </button>
	<div class="dropdown-menu" [ngClass]="{'open': expanded}" [ngStyle]="{'display': expanded ? 'block' : 'none'}" role="combobox" 
        style="max-height: 271px; overflow: hidden; min-height: 0px;    position: absolute; width: 100%;">
		<ul class="dropdown-menu inner" role="listbox" aria-expanded="true" style="max-height: 256px; overflow-y: auto; min-height: 0px;">
			<li *ngFor="let item of items" data-original-index="0" class="ms-hover" (click)="selectItem(item)">
				<a tabindex="0" class="" data-tokens="ketchup mustard" role="option" aria-disabled="false" aria-selected="false">
                    <span class="text" style="white-space: normal;">
                        {{getItemValue(item)}}
                    </span>
                    <span *ngIf="item == selectedItem" class="glyphicon glyphicon-ok check-mark">
                    </span>
                </a>
			</li>
			<!--<li data-original-index="1" class="ms-hover">
                <a tabindex="0" class="" data-tokens="mustard" role="option" aria-disabled="false" aria-selected="false">
                    <span class="text">
                        Burger, Shake and a Smile
                    </span>
                    <span class="glyphicon glyphicon-ok check-mark">
                    </span>
                </a>
            </li>
			<li	data-original-index="2" class="ms-hover selected">
                <a tabindex="0" class="" data-tokens="frosting" role="option" aria-disabled="false" aria-selected="true">
                    <span class="text">
                        Sugar, Spice and all things nice
                    </span>
                    <span class="glyphicon glyphicon-ok check-mark">
                    </span>
                </a>
            </li>-->
		</ul>
    </div>
    <select class="selectpicker m-b-20 m-r-10" data-style="btn-info btn-outline" tabindex="-98">
        <!--<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
        <option data-tokens="mustard">Burger, Shake and a Smile</option>
        <option data-tokens="frosting">Sugar, Spice and all things nice</option>-->
    </select>
</div>