
<idid-google-maps [lat]="lat" [lng]="lng" [(zoom)]="zoom" (onNewMarkerClick)="onNewMarkerClick($event)">

</idid-google-maps>

<idid-alert #tooFarAlert [title]="'Çok Uzak!'" [message]="'Biraz yaklaşıp tekrar dene.'" [buttonText]="'Tamam'">

</idid-alert>

<idid-alert #noPlaceFound [title]="'Bulamadık!'" [message]="'Burada bir yer bulamadık. Haritanın ortasındaki ikonu bir yer işaretinin üstüne getirip tekrar dene.'" [buttonText]="'Tamam'">

</idid-alert>

<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;"
    [ngClass]="{'show': popupOpen}"
    [ngStyle]="{'display': popupOpen ? 'block' : 'none'}" 
    >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closePopup()">×</button>
				<h4 class="modal-title">Anı Paylaş</h4>
			</div>
			<div class="modal-body">
				<form>
					<div >
						<label for="place" class="control-label">Bir yer seç</label>
						<idid-select id="place" [items]="places" [field]="field" [(selectedItem)]="selectedPlace" (selectedItemChange)="onSelectedItemChange($event)">

						</idid-select>
					</div>
					<div >
						<label for="verbs" class="control-label">Burada neler yaptın/yaşadın/hissettin?</label>
						<idid-tags id="verbs" [(selectedVerbs)]="selectedVerbs" (selectedVerbsChange)="selectedVerbsChange($event)" [lang]="translate.currentLang"></idid-tags>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="closePopup()">Vazgeç</button>
				<button type="button" class="btn btn-danger waves-effect waves-light" (click)="sharePost()">Paylaş</button>
			</div>
		</div>
	</div>
</div>

<div class="modal-backdrop " 
    [ngClass]="{'show': popupOpen}"
    [ngStyle]="{'display': popupOpen ? 'block' : 'none'}" 
    >
</div>