﻿.left-menu
{
    height: 100% !important;
}

.body-content {
    padding-left: 256px;
    padding-right: 256px;
}

.chat-main-box{
    position: absolute;
    background: #fff;
    overflow: hidden;
    right: 25px;
    left: 25px;
    top: 25px;
    bottom: 25px;
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }
    .chat-main-box{
        right: 0px;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }
}

.chat-box{
    overflow: visible;
    position: absolute;
    right: 0;
    left: 256px;
    bottom: 0px;
    top: -60px;
}
@media (max-width: 767px) {
    .chat-box{ 
        left: 0px;
    }
}