agm-map {
    height: 300px;
}
.form-control:focus {
    border-color: #03a9f4;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.33;
}

.form-control:focus {
    border-color: #03a9f4 !important;
}
.row {
    padding: 0;
    margin: 0;
}
.body-content {
    padding-left: 256px;
    padding-right: 256px;
}
.navbar-header {
    padding-left: 256px;
    padding-right: 256px;
}
.navbar-form {
    padding-left: 0px;
}
@media (max-width: 1650px) {
    /*.navbar-form-input {
        width: 160px;
    }*/
}
@media (max-width: 880px) {
    /*.navbar-form-input {
        width: 160px;
    }*/
}
@media (max-width: 830px) {
    /*.navbar-form-input {
        width: 128px;
    }*/
}
@media (max-width: 660px) {
    .navbar-form-input {
        display: none;
    }
    .navbar-form-button {
        display: none;
    }
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }
}