﻿<head>
    <base href="/">
    <meta charset="utf-8" />
</head>
<div>
    <div class='' style="margin-top: 60px;position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;">
        <div class='row' style="    height: 100%;">
            <!--<div class='col-sm-3'>
                <nav-menu></nav-menu>
            </div>-->
            <idid-toolbar [user]="getCurrentUser()" [lang]="translate.currentLang" [loggedin]="isLoggedIn()" (onSearchClicked)="onSearchClicked()" (onFBLoginClicked)="onFBLoginClicked()" (onFBLogoutClicked)="onFBLogoutClicked()" >

            </idid-toolbar>
            <router-outlet></router-outlet>
            <!--<div class='col-md-12 body-content' style="    height: 100%;">
                
            </div>-->
        </div>
    </div>
</div>
