<div class="sweet-overlay" tabindex="-1" [ngStyle]="{'opacity': visible ? 1 : 0, 'display': visible ? 'block' : 'none'}"></div>

<div class="sweet-alert " [ngClass]="{'showSweetAlert visible': visible, 'hideSweetAlert': !visible}" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true"
	data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" >
	<div class="sa-icon sa-error" style="display: none;">
		<span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
		<span class="sa-line sa-right"></span>
		</span>
	</div>
	<div class="sa-icon sa-warning" style="display: block;">
		<span class="sa-body"></span>
		<span class="sa-dot"></span>
	</div>
	<div class="sa-icon sa-info" style="display: none;"></div>
	<div class="sa-icon sa-success" style="display: none;">
		<span class="sa-line sa-tip"></span>
		<span class="sa-line sa-long"></span>

		<div class="sa-placeholder"></div>
		<div class="sa-fix"></div>
	</div>
	<h2>{{title}}</h2>
	<p style="display: block;">{{message}}</p>
	<fieldset>
		<input type="text" tabindex="3" placeholder="">
		<div class="sa-input-error"></div>
	</fieldset>
	<div class="sa-error-container">
		<div class="icon">!</div>
		<p>Not valid!</p>
	</div>
	<div class="sa-button-container">
		<button class="cancel" tabindex="2" style="display: none; box-shadow: none;">Cancel</button>
		<div class="sa-confirm-button-container">
			<button (click)="hide()" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">
                {{buttonText}}
            </button>
			<div
				class="la-ball-fall">
				<div></div>
				<div></div>
				<div></div>
		</div>
	</div>
</div>
</div>