﻿.body-content {
    padding-left: 256px;
    padding-right: 256px;
}
.profile-row{
    padding-top: 25px;
}
.overlay-box{
    background: #00b0ff;
    opacity: .9;
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .profile-row{
        padding-top: 0px;
    }
}
