/* You can add global styles to this file, and also import other style files */
.pac-item{
    list-style-type: none;
    cursor: pointer;
    padding: 8px;
}
.pac-item:hover {
    background-color: #f3f7f9;
}
.pac-container  {
        width: 700px !important;
    }
@media (max-width: 920px) {
    .pac-container  {
        position: absolute;
        left: 0 !important;
        width: 100% !important;
    }
}
@media (max-width: 500px) {
    .pac-item {
        cursor: default;
        /*padding: 0 4px;*/
        text-overflow: ellipsis;
        overflow: auto;
        /*white-space: normal;*/
        /*line-height: 30px;*/
        text-align: left;
        border-top: 1px solid #e6e6e6;
        font-size: 11px;
        color: #999
    }
}